asn1crypto==0.24.0
backports.functools-lru-cache==1.5
bleach==2.1.3
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
conda==4.4.11
cryptography==2.1.4
cycler==0.10.0
decorator==4.2.1
entrypoints==0.2.3
future==0.16.0
html5lib==1.0.1
idna==2.6
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.1.1
MarkupSafe==1.0
matplotlib==2.2.0
menuinst==1.4.11
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.0
numpy==1.14.2
pandocfilters==1.4.2
parso==0.1.1
pickleshare==0.7.4
Pillow==5.0.0
pip==9.0.1
prompt-toolkit==1.0.15
pycosat==0.6.3
pycparser==2.18
Pygments==2.2.0
pymavlink==2.2.8
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyQt5==5.10.1
PySocks==1.6.8
python-dateutil==2.7.0
pytz==2018.3
pywin32==222
pywinpty==0.5.1
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
ruamel-yaml==0.15.35
Send2Trash==1.5.0
setuptools==38.5.2
simplegeneric==0.8.1
sip==4.19.8
six==1.11.0
terminado==0.8.1
testpath==0.3.1
torchfile==0.1.0
tornado==5.0
traitlets==4.3.2
udacidrone==0.1.0
urllib3==1.22
utm==0.4.0
visdom==0.1.7
wcwidth==0.1.7
webencodings==0.5.1
websockets==4.0.1
wheel==0.30.0
widgetsnbextension==3.1.4
wincertstore==0.2
win-inet-pton==1.0.1
